<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Login</h1>
  <p>Welcome to LOGIN PAGE</p>

  <div class="container text-center">
    <h2>WELCOME</h2>
    <form action="/login" method="POST">
      <input type="text" id="username" name="username">name
      <input type="password" name="password" id="password">password
      <button>Confirm</button>
    </form>
  </div>
</body>

</html>